@media screen and (max-width: 700px) {
    .login {
        max-width: 100%;
    }
    .login-title {
        width: 100%;
    }
    .login-gg {
        color: black;
        font-size: 14px;
    }
    .login-fb {
        color: black;
        font-size: 14px;
    }
}